desktop.ini
.vscode/

env/
smiffer/apbs/
smiffer/toy_systems/
smiffer/pocket_sphere/
smiffer/whole/
smiffer/trajs/
smiffer/ligands/
smiffer/cavities/
veins/
vgtools/converting/
vgtools/packing/
vgtools/unpacking/
vgtools/fix_cmap/
