desktop.ini
.vscode/

env/

smiffer/apbs/
smiffer/interfaces/**/*.cmap
smiffer/toy_systems/*.cmap
smiffer/pocket_sphere/
smiffer/whole/
smiffer/whole-hbond_details/
smiffer/trajs/**/*.cmap
smiffer/ligands/**/*.cmap
smiffer/cavities/

veins/

vgtools/converting/
vgtools/packing/
vgtools/unpacking/
vgtools/fix_cmap/
vgtools/operations/
